:root {
    --primary-color: #5e60ce;
    --secondary-color: #c06c84;
    --primary-color-light: #a8dadc;
    --secondary-color-light: #f6cd61;
    --primary-color-dark: #1e2019;
    --secondary-color-dark: #3d405b;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(
        to right,
        var(--primary-color),
        var(--secondary-color)
    );
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    width: 420px;
    height: 600px;
    background-color: var(--primary-color-light);
    border: 1px solid #000;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.display {
    width: 100%;
    height: 100px;
    background-color: var(--primary-color-dark);
    color: #fff;
    font-size: 3.5rem;
    text-align: right;
    padding: 10px;
    margin-bottom: 10px;
}

.controls {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

button {
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    font-size: 2rem;
    background-color: var(--secondary-color-light);
    cursor: pointer;
}
button:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.operator, .equal {
    background-color: var(--secondary-color-dark);
    color: #fff;
}
.all-clear, .sign, .percent {
    background-color: var(--primary-color-dark);
    color: #fff;
}